.toolbar-social a.button { float: left; color:#6e6e6e; font:bold 12px Helvetica, Arial, sans-serif; text-decoration:none; padding:4px 8px; position:relative; display:inline-block; text-shadow:0 1px 0 #fff; -webkit-transition:border-color .218s; -moz-transition:border .218s; -o-transition:border-color .218s; transition:border-color .218s; background-color:#f3f3f3; background-color:-webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); background-color:-moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); -o-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); border:solid 1px #dcdcdc; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; margin-right:19px; background-repeat: no-repeat; }
.toolbar-social a.button:hover, .toolbar-social a.button.active {color:#333; border-color:#999; -moz-box-shadow:0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}


.toolbar-social a.icon-share { background-image: url("../tnwsc-sprite.png"); background-repeat: no-repeat; background-position: 6px -84px; padding-left: 24px; margin-right: 5px; float: left; }
.toolbar-social a.icon-share:hover, .toolbar-social a.icon-share.active { background-position: 6px -114px; }

.toolbar-social span.share-count { width: 30px; height: 24px; background-image: url("../tnwsc-sprite.png"); background-repeat: no-repeat; background-position: 0 -176px; float: left; color: #fff; padding-left: 3px; font-size: 12px; line-height: 24px; text-align: center; }

.toolbar-social #sharing-widget { position: relative; display: inline-block; }

.toolbar-social .tooltip-wrapper { position: absolute; z-index: 11; margin-left: -68px; margin-top: -7px; padding: 10px 0 0 0; }
.toolbar-social .tooltip-wrapper .arrow { position: absolute; top: 0; left: 50%; margin-left: -10px; display: block; width: 21px; height: 11px; background: url("../tnwsc-sprite.png") no-repeat -45px -178px; }
.toolbar-social .tooltip-wrapper a { overflow: hidden; text-indent: 9999em; } 

.toolbar-social #tooltip-close { width: 22px; height: 22px; position: absolute; display: block; background: url("../tnwsc-sprite.png") no-repeat 3px -143px; right: -8px; top: 3px; }
.toolbar-social .tooltip { padding: 10px; border: solid 1px #CACACA; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
box-shadow: 0px 4px 11px rgba(0,0,0,0.3);
}
.toolbar-social .tooltip table { border-collapse: collapse; border-spacing: 0; }
.toolbar-social .tooltip td { padding: 5px; border: none; }
.toolbar-social .tooltip td:first-child { border-left: none; }
.toolbar-social .tooltip td.separator { border-top: 1px solid #CCC; border-bottom: 1px solid #fff; height: 0px; padding: 0; }
.toolbar-social .tooltip td.read-later { font-size: 13px; line-height: 18px; color: #696969; }
.toolbar-social .tooltip td.share-link { background: url("../tnwsc-sprite.png") no-repeat -178px -35px; padding-left: 25px; }
.toolbar-social .tooltip td.share-link input { border: 1px solid #CACACA; color: #919191; padding: 5px; width: 140px; font-size: 11px; }
.toolbar-social .tooltip td div { position: relative; }
.toolbar-social .tooltip .digit { height: 21px; width: 21px; position: absolute; top: -6px; right: -6px; font-size: 10px; color: white; background: url("../tnwsc-sprite.png") no-repeat -179px -88px; text-align: center; line-height: 21px; }

.toolbar-social .icon { background-image: url("../tnwsc-sprite.png"); background-repeat: no-repeat; vertical-align: top; display: block; width: 36px; height: 36px; text-indent: 9999em; overflow: hidden; }
.toolbar-social .icon:hover { border: 0; text-decoration: none; }

.toolbar-social .icon.readitlater { background-position: -179px -1px; width: 18px; height: 18px; display: inline-block; margin-left: 8px; }
.toolbar-social .icon.instapaper { background-position: -207px -1px; width: 18px; height: 18px; display: inline-block; margin-left: 8px; }

.toolbar-social .icon.facebook { background-position: 0 0; }
.toolbar-social .icon.twitter { background-position: -43px 0; }
.toolbar-social .icon.googleplus { background-position: -86px 0; }
.toolbar-social .icon.stumbleupon { background-position: -132px 0; }

.toolbar-social .icon.reddit { background-position: 0 -43px; }
.toolbar-social .icon.digg { background-position: -43px -43px; }
.toolbar-social .icon.linkedin { background-position: -86px -43px; }
.toolbar-social .icon.ycombinator { background-position: -132px -43px; }

.toolbar-social .hidden { display: none; }